{% extends "layout.html" %}

{% block title %}

    What is this made for?

{% endblock %}

{% block main %}

    <div class="mx-auto mt-5 align-items-center text-center" style="height:25rem; width:35rem;">
        <p><h4>Basically, I tried to solve a minor issue that occurred to me, which was that when I scrolled down in Instagram reels, I frequently found some people sharing some very useful websites, so I saved them in case I needed them someday.</h4></p>
        <p><h4>This happened a lot, and this led to a state of disorder for my saves, and when I want to find a particular website, I can't.</h4></p>
        <p><h4>Therefore, this WebR idea popped up, and at the same time, I was taking the CS50 course, so I decided to make it real while at the same time considering it as my CS50 Final Project.</h4></p>
        <p><h4>And that's it.</h4></p>
    </div>

{% endblock %}